### This is a code for classification of Hotel Cancellation . The competition is hold by Quevico AI Competitions

## Data Description 
## Customers cancelling reservations severely impact the results of hotels and dining facilities. It not only damages revenue, but also wastes the food in stock and personnel expenses used to provide services.The goal of this competition is to use data consisting of over 100,000 reservations to categorize reservations into those that will and will not be cancelled. The data uses actual reservations that were made in several cities across Portugal. This is a challenge that predicts cancellations. It’s also very meaningful for society because it can later be used for various purposes such as analyzing the causes behind the cancellations.

### Columns 
- hotel：Hotel (Resort Hotel or City Hotel)
- lead_time：Number of days that elapsed between the entering date of the booking into the PMS and the arrival date
- stays_in_weekend_nights：Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
- stays_in_week_nights：Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel
- country：Country of origin. Categories are represented in the ISO 3155–3:2013 format
- market_segment：Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”
- distribution_channel：Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”
- is_repeated_guest：Value indicating if the booking name was from a repeated guest (1) or not (0)
- previous_cancellations：Number of previous bookings that were cancelled by the customer prior to the current booking
- previous_bookings_not_canceled：Number of previous bookings not cancelled by the customer prior to the current booking
- reserved_room_type：Code of room type reserved. Code is presented instead of designation for anonymity reasons
- assigned_room_type：Code for the type of room assigned to the booking. Sometimes the assigned room type differs from the reserved room type due to hotel operation reasons (e.g. overbooking) or by customer request. Code is presented instead of designation for anonymity reasons.
- booking_changes：Number of changes/amendments made to the booking from the moment the booking was entered on the PMS until the moment of check-in or cancellation
- agent：masking
- company：masking
- days_in_waiting_list：Number of days the booking was in the waiting list before it was confirmed to the customer
- customer_type：Type of booking, assuming one of four categories:Contract - when the booking has an allotment or other type of contract associated to it; Group – when the booking is associated to a group; Transient – when the booking is not part of a group or contract, and is not associated to other transient booking; Transient-party – when the booking is transient, but is associated to at least other transient booking
- adr：Average Daily Rate as defined by dividing the sum of all lodging transactions by the total number of staying nights
- required_car_parking_spaces：Number of car parking spaces required by the customer
- total_of_special_requests：Number of special requests made by the customer (e.g. twin bed or high floor)

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df=pd.read_csv("train.csv")

In [8]:
#lOOF FOR NAN VALUES 
print(df.isnull().values.any())

False

In [3]:
print(df.isnull().sum())

id                                0
hotel                             0
is_canceled                       0
lead_time                         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
arrival_date                      0
dtype: int64

In [11]:
##To print unique values in each column
for i in df.columns:
    print(df[i].value_counts())
    print("@@@@@######$$$$$%%%%")

2047     1
21792    1
17698    1
19747    1
29988    1
        ..
4823     1
27352    1
25305    1
31450    1
2049     1
Name: id, Length: 108785, dtype: int64
@@@@@######$$$$$%%%%
City Hotel      72364
Resort Hotel    36421
Name: hotel, dtype: int64
@@@@@######$$$$$%%%%
0    68460
1    40325
Name: is_canceled, dtype: int64
@@@@@######$$$$$%%%%
0      5936
1      3296
2      1939
3      1720
4      1625
       ...
532       1
450       1
370       1
400       1
709       1
Name: lead_time, Length: 464, dtype: int64
@@@@@######$$$$$%%%%
0     48197
2     29599
1     28012
4      1605
3      1047
6       149
5        72
8        57
7        19
9         9
10        7
12        5
13        2
16        2
18        1
14        1
19        1
Name: stays_in_weekend_nights, dtype: int64
@@@@@######$$$$$%%%%
2     31367
1     27975
3     20341
5      9503
4      8457
0      6971
6      1270
10      921
7       891
8       526
9       185
15       85
11       50
19       43
20       39
12       38
14       35
13       23
16       14
21       13
22        7
18        6
25        6
17        4
30        4
24        3
40        2
42        1
26        1
32        1
33        1
34        1
50        1
Name: stays_in_week_nights, dtype: int64
@@@@@######$$$$$%%%%
2     81464
1     21970
3      5076
0       205
4        54
26        5
27        2
20        2
5         2
55        1
50        1
40        1
10        1
6         1
Name: adults, dtype: int64
@@@@@######$$$$$%%%%
0.0     101830
1.0       3922
2.0       2979
3.0         53
10.0         1
Name: children, dtype: int64
@@@@@######$$$$$%%%%
0     107951
1        818
2         14
10         1
9          1
Name: babies, dtype: int64
@@@@@######$$$$$%%%%
BB    85099
HB    12705
SC    10238
FB      743
Name: meal, dtype: int64
@@@@@######$$$$$%%%%
PRT    45865
GBR    10764
FRA     9498
ESP     7614
DEU     6387
       ...
CYM        1
PLW        1
MDG        1
DMA        1
MMR        1
Name: country, Length: 173, dtype: int64
@@@@@######$$$$$%%%%
Online TA        49545
Offline TA/TO    22682
Groups           19354
Direct           11196
Corporate         5079
Complementary      697
Aviation           230
Undefined            2
Name: market_segment, dtype: int64
@@@@@######$$$$$%%%%

TA/TO        88940
Direct       13203
Corporate     6449
GDS            188
Undefined        5
Name: distribution_channel, dtype: int64
@@@@@######$$$$$%%%%
0    105245
1      3540
Name: is_repeated_guest, dtype: int64
@@@@@######$$$$$%%%%
0     102366
1       6008
2        110
3         62
24        48
11        35
4         28
26        26
25        25
19        19
6         17
14        14
5         14
13        12
21         1
Name: previous_cancellations, dtype: int64
@@@@@######$$$$$%%%%
0     105388
1       1452
2        549
3        316
4        223
       ...
36         1
35         1
34         1
62         1
63         1
Name: previous_bookings_not_canceled, Length: 68, dtype: int64
@@@@@######$$$$$%%%%
A    79728
D    16771
E     5708
F     2536
G     1796
B     1041
C      689
H      510
L        6
Name: reserved_room_type, dtype: int64
@@@@@######$$$$$%%%%
A    68162
D    22832
E     6967
F     3354
G     2226
C     2068
B     2068
H      616
I      327
K      164
L        1
Name: assigned_room_type, dtype: int64
@@@@@######$$$$$%%%%
0     92781
1     11397
2      3285
3       783
4       317
5       104
6        55
7        24
8        12
9         8
13        4
10        3
14        3
15        3
17        2
16        2
12        1
18        1
Name: booking_changes, dtype: int64
@@@@@######$$$$$%%%%
9.0      28036
0.0      15530
240.0    12282
1.0       7187
7.0       3257
         ...
219.0        1
54.0         1
247.0        1
406.0        1
265.0        1
Name: agent, Length: 331, dtype: int64
@@@@@######$$$$$%%%%
0.0      102214
40.0        853
223.0       784
67.0        267
45.0        239
          ...
35.0          1
489.0         1
461.0         1
64.0          1
305.0         1
Name: company, Length: 341, dtype: int64
@@@@@######$$$$$%%%%
0      105101
39        227
58        164
44        141
31        127
        ...
116         1
81          1
167         1
117         1
74          1
Name: days_in_waiting_list, Length: 127, dtype: int64
@@@@@######$$$$$%%%%
Transient          80589
Transient-Party    23808
Contract            3864
Group                524
Name: customer_type, dtype: int64
@@@@@######$$$$$%%%%
62.00     3754
75.00     2701
65.00     2369
90.00     2336
80.00     1826
          ...
108.97       1
98.14        1
232.50       1
86.83        1
210.51       1
Name: adr, Length: 7949, dtype: int64
@@@@@######$$$$$%%%%
0    101966
1      6789
2        25
3         3
8         2
Name: required_car_parking_spaces, dtype: int64
@@@@@######$$$$$%%%%
0    65912
1    29218
2    11295
3     2076
4      251
5       33
Name: total_of_special_requests, dtype: int64
@@@@@######$$$$$%%%%

2015-12-05    448
2016-11-07    365
2015-10-16    355
2016-10-13    344
2015-09-18    340
             ...
2015-12-15     29
2015-11-15     28
2015-12-07     27
2015-11-29     20
2015-12-13     19
Name: arrival_date, Length: 730, dtype: int64
@@@@@######$$$$$%%%%

In [7]:
df.dtypes

id                                  int64
hotel                              object
is_canceled                         int64
lead_time                           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
arrival_date                       object
dtype: object

In [4]:
df.dtypes

id                                  int64
hotel                              object
is_canceled                         int64
lead_time                           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
arrival_date                       object
dtype: object

In [9]:
df=df.drop(['arrival_date'], axis=1)
df

,id,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,1,Resort Hotel,0,1,0,1,2,0.0,1,BB,...,A,A,1,250.0,0.0,0,Transient,55.00,1,0
1,2,Resort Hotel,0,1,0,2,1,0.0,0,BB,...,A,D,0,0.0,0.0,0,Transient,40.00,0,0
2,3,City Hotel,1,56,0,3,2,0.0,0,BB,...,A,A,0,29.0,0.0,0,Transient,60.00,0,0
3,4,City Hotel,0,213,2,5,2,0.0,0,BB,...,A,A,0,9.0,0.0,0,Transient,102.85,0,1
4,5,Resort Hotel,0,328,4,10,2,0.0,0,BB,...,D,D,0,243.0,0.0,0,Contract,121.50,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108780,108781,City Hotel,1,37,0,3,2,0.0,0,BB,...,A,A,0,56.0,0.0,0,Transient-Party,105.00,0,0
108781,108782,City Hotel,0,13,1,2,2,0.0,0,BB,...,A,A,0,28.0,0.0,0,Transient,82.00,0,0
108782,108783,City Hotel,0,124,0,3,2,0.0,0,BB,...,A,A,2,9.0,0.0,0,Transient,126.00,0,1
108783,108784,Resort Hotel,1,130,2,5,2,0.0,0,BB,...,A,A,0,240.0,0.0,0,Transient,120.60,0,2
108784,108785,Resort Hotel,0,174,2,5,2,0.0,0,HB,...,A,A,0,243.0,0.0,0,Contract,58.23,0,0

In [10]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

for i in df.columns:
    if df[i].dtypes =="object":
        le.fit(df[i])
        df[i]=le.transform(df[i])

In [11]:
df.dtypes

id                                  int64
hotel                               int64
is_canceled                         int64
lead_time                           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                                int64
country                             int64
market_segment                      int64
distribution_channel                int64
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                  int64
assigned_room_type                  int64
booking_changes                     int64
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                       int64
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
dtype: object

In [13]:
df=df.drop(['id'], axis=1)

In [14]:
Y=df["is_canceled"]
X=df.drop(["is_canceled"],axis=1)

In [15]:
print(Y.head())
print(X.head())

0    0
1    0
2    1
3    0
4    0
Name: is_canceled, dtype: int64
   hotel  lead_time  stays_in_weekend_nights  stays_in_week_nights  adults  \
0      1          1                        0                     1       2
1      1          1                        0                     2       1
2      0         56                        0                     3       2
3      0        213                        2                     5       2
4      1        328                        4                    10       2

   children  babies  meal  country  market_segment  ...  reserved_room_type  \
0       0.0       1     0      131               3  ...                   0
1       0.0       0     0      131               3  ...                   0
2       0.0       0     0      131               4  ...                   0
3       0.0       0     0       56               6  ...                   0
4       0.0       0     0       56               5  ...                   3

   assigned_room_type  booking_changes  agent  company  days_in_waiting_list  \
0                   0                1  250.0      0.0                     0
1                   3                0    0.0      0.0                     0
2                   0                0   29.0      0.0                     0
3                   0                0    9.0      0.0                     0
4                   3                0  243.0      0.0                     0

   customer_type     adr  required_car_parking_spaces  \
0              2   55.00                            1
1              2   40.00                            0
2              2   60.00                            0
3              2  102.85                            0
4              0  121.50                            0

   total_of_special_requests
0                          0
1                          0
2                          0
3                          1
4                          2

[5 rows x 24 columns]

In [12]:

def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [16]:
###Applying XGBOOST on data frame

params={
 "learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]
    
}
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import xgboost
classifier=xgboost.XGBClassifier()
random_search=RandomizedSearchCV(classifier,param_distributions=params,n_iter=5,scoring='roc_auc',n_jobs=-1,cv=5,verbose=3)
from datetime import datetime
# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(X,Y)
timer(start_time) # timing ends here for "start_time" variable

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] min_child_weight=5, max_depth=4, learning_rate=0.1, gamma=0.2, colsample_bytree=0.5

[Parallel(n_jobs=-1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  min_child_weight=5, max_depth=4, learning_rate=0.1, gamma=0.2, colsample_bytree=0.5, score=0.931, total=   8.1s
[CV] min_child_weight=5, max_depth=4, learning_rate=0.1, gamma=0.2, colsample_bytree=0.5

[Parallel(n_jobs=-1)]: Done   1 out of   1 | elapsed:    8.1s remaining:    0.0s

[CV]  min_child_weight=5, max_depth=4, learning_rate=0.1, gamma=0.2, colsample_bytree=0.5, score=0.931, total=   7.1s
[CV] min_child_weight=5, max_depth=4, learning_rate=0.1, gamma=0.2, colsample_bytree=0.5

[Parallel(n_jobs=-1)]: Done   2 out of   2 | elapsed:   15.2s remaining:    0.0s

[CV]  min_child_weight=5, max_depth=4, learning_rate=0.1, gamma=0.2, colsample_bytree=0.5, score=0.932, total=   7.6s
[CV] min_child_weight=5, max_depth=4, learning_rate=0.1, gamma=0.2, colsample_bytree=0.5

[CV]  min_child_weight=5, max_depth=4, learning_rate=0.1, gamma=0.2, colsample_bytree=0.5, score=0.931, total=   8.2s
[CV] min_child_weight=5, max_depth=4, learning_rate=0.1, gamma=0.2, colsample_bytree=0.5

[CV]  min_child_weight=5, max_depth=4, learning_rate=0.1, gamma=0.2, colsample_bytree=0.5, score=0.929, total=   8.0s
[CV] min_child_weight=1, max_depth=10, learning_rate=0.15, gamma=0.3, colsample_bytree=0.3

[CV]  min_child_weight=1, max_depth=10, learning_rate=0.15, gamma=0.3, colsample_bytree=0.3, score=0.954, total=  16.3s
[CV] min_child_weight=1, max_depth=10, learning_rate=0.15, gamma=0.3, colsample_bytree=0.3

[CV]  min_child_weight=1, max_depth=10, learning_rate=0.15, gamma=0.3, colsample_bytree=0.3, score=0.955, total=  16.2s
[CV] min_child_weight=1, max_depth=10, learning_rate=0.15, gamma=0.3, colsample_bytree=0.3

[CV]  min_child_weight=1, max_depth=10, learning_rate=0.15, gamma=0.3, colsample_bytree=0.3, score=0.955, total=  17.6s
[CV] min_child_weight=1, max_depth=10, learning_rate=0.15, gamma=0.3, colsample_bytree=0.3

[CV]  min_child_weight=1, max_depth=10, learning_rate=0.15, gamma=0.3, colsample_bytree=0.3, score=0.954, total=  14.9s
[CV] min_child_weight=1, max_depth=10, learning_rate=0.15, gamma=0.3, colsample_bytree=0.3

[CV]  min_child_weight=1, max_depth=10, learning_rate=0.15, gamma=0.3, colsample_bytree=0.3, score=0.954, total=  14.9s
[CV] min_child_weight=5, max_depth=10, learning_rate=0.1, gamma=0.2, colsample_bytree=0.3

[CV]  min_child_weight=5, max_depth=10, learning_rate=0.1, gamma=0.2, colsample_bytree=0.3, score=0.950, total=  14.8s
[CV] min_child_weight=5, max_depth=10, learning_rate=0.1, gamma=0.2, colsample_bytree=0.3

[CV]  min_child_weight=5, max_depth=10, learning_rate=0.1, gamma=0.2, colsample_bytree=0.3, score=0.950, total=  15.2s
[CV] min_child_weight=5, max_depth=10, learning_rate=0.1, gamma=0.2, colsample_bytree=0.3

[CV]  min_child_weight=5, max_depth=10, learning_rate=0.1, gamma=0.2, colsample_bytree=0.3, score=0.950, total=  14.9s
[CV] min_child_weight=5, max_depth=10, learning_rate=0.1, gamma=0.2, colsample_bytree=0.3

[CV]  min_child_weight=5, max_depth=10, learning_rate=0.1, gamma=0.2, colsample_bytree=0.3, score=0.949, total=  15.7s
[CV] min_child_weight=5, max_depth=10, learning_rate=0.1, gamma=0.2, colsample_bytree=0.3

[CV]  min_child_weight=5, max_depth=10, learning_rate=0.1, gamma=0.2, colsample_bytree=0.3, score=0.950, total=  15.3s
[CV] min_child_weight=1, max_depth=3, learning_rate=0.1, gamma=0.1, colsample_bytree=0.4

[CV]  min_child_weight=1, max_depth=3, learning_rate=0.1, gamma=0.1, colsample_bytree=0.4, score=0.920, total=   5.6s
[CV] min_child_weight=1, max_depth=3, learning_rate=0.1, gamma=0.1, colsample_bytree=0.4

[CV]  min_child_weight=1, max_depth=3, learning_rate=0.1, gamma=0.1, colsample_bytree=0.4, score=0.920, total=   5.3s
[CV] min_child_weight=1, max_depth=3, learning_rate=0.1, gamma=0.1, colsample_bytree=0.4

[CV]  min_child_weight=1, max_depth=3, learning_rate=0.1, gamma=0.1, colsample_bytree=0.4, score=0.921, total=   5.7s
[CV] min_child_weight=1, max_depth=3, learning_rate=0.1, gamma=0.1, colsample_bytree=0.4

[CV]  min_child_weight=1, max_depth=3, learning_rate=0.1, gamma=0.1, colsample_bytree=0.4, score=0.921, total=   5.4s
[CV] min_child_weight=1, max_depth=3, learning_rate=0.1, gamma=0.1, colsample_bytree=0.4

[CV]  min_child_weight=1, max_depth=3, learning_rate=0.1, gamma=0.1, colsample_bytree=0.4, score=0.919, total=   5.4s
[CV] min_child_weight=7, max_depth=5, learning_rate=0.3, gamma=0.2, colsample_bytree=0.5

[CV]  min_child_weight=7, max_depth=5, learning_rate=0.3, gamma=0.2, colsample_bytree=0.5, score=0.946, total=   8.7s
[CV] min_child_weight=7, max_depth=5, learning_rate=0.3, gamma=0.2, colsample_bytree=0.5

[CV]  min_child_weight=7, max_depth=5, learning_rate=0.3, gamma=0.2, colsample_bytree=0.5, score=0.947, total=   8.3s
[CV] min_child_weight=7, max_depth=5, learning_rate=0.3, gamma=0.2, colsample_bytree=0.5

[CV]  min_child_weight=7, max_depth=5, learning_rate=0.3, gamma=0.2, colsample_bytree=0.5, score=0.948, total=   8.8s
[CV] min_child_weight=7, max_depth=5, learning_rate=0.3, gamma=0.2, colsample_bytree=0.5

[CV]  min_child_weight=7, max_depth=5, learning_rate=0.3, gamma=0.2, colsample_bytree=0.5, score=0.947, total=   8.5s
[CV] min_child_weight=7, max_depth=5, learning_rate=0.3, gamma=0.2, colsample_bytree=0.5

[CV]  min_child_weight=7, max_depth=5, learning_rate=0.3, gamma=0.2, colsample_bytree=0.5, score=0.947, total=   8.9s

[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:  4.4min finished

 Time taken: 0 hours 4 minutes and 45.15 seconds.

In [17]:
random_search.best_estimator_

XGBClassifier(colsample_bytree=0.3, gamma=0.3, learning_rate=0.15, max_depth=10)

In [18]:
random_search.best_params_

{'min_child_weight': 1,
 'max_depth': 10,
 'learning_rate': 0.15,
 'gamma': 0.3,
 'colsample_bytree': 0.3}

In [19]:
classifier=xgboost.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.3, gamma=0.3, learning_rate=0.15,
       max_delta_step=0, max_depth=10, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [20]:
from sklearn.model_selection import train_test_split
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [22]:
classifier.fit(X_train, y_train)
from sklearn.metrics import accuracy_score
# make predictions for test data
y_pred = classifier.predict(X_test)
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 88.71%

In [25]:
tst=pd.read_csv("test.csv")

In [26]:
tst

,id,hotel,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,arrival_date
0,108786,City Hotel,292,0,2,2,0.0,0,SC,DEU,...,A,0,9.0,0.0,0,Transient,89.10,0,4,2017-08-02
1,108787,City Hotel,20,1,2,2,0.0,0,SC,NLD,...,A,0,9.0,0.0,0,Transient,140.00,0,1,2017-07-07
2,108788,Resort Hotel,192,2,0,2,0.0,0,BB,BEL,...,E,0,0.0,0.0,0,Transient,167.52,1,2,2017-07-23
3,108789,City Hotel,94,0,2,2,0.0,0,SC,CHN,...,A,0,9.0,0.0,0,Transient,112.50,0,0,2017-08-16
4,108790,Resort Hotel,192,4,7,2,0.0,0,BB,ROU,...,E,0,240.0,0.0,0,Transient,190.18,0,1,2017-07-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10094,118880,City Hotel,157,2,5,3,0.0,0,BB,PRT,...,D,0,86.0,0.0,0,Transient,140.40,0,0,2017-08-24
10095,118881,City Hotel,88,0,1,2,0.0,0,BB,AUS,...,D,0,9.0,0.0,0,Transient,155.00,0,1,2017-08-11
10096,118882,City Hotel,15,0,1,2,0.0,0,SC,DEU,...,A,0,9.0,0.0,0,Transient,160.00,0,1,2017-08-16
10097,118883,Resort Hotel,129,0,3,2,0.0,0,BB,PRT,...,E,0,240.0,0.0,0,Transient,259.00,0,1,2017-08-09
10098,118884,City Hotel,143,1,3,3,1.0,0,BB,DEU,...,G,2,8.0,0.0,0,Transient,256.50,0,1,2017-07-17

In [27]:
id_val=tst['id']
tst=tst.drop(['id'], axis=1)
tst=tst.drop(['arrival_date'], axis=1)

from sklearn import preprocessing
le=preprocessing.LabelEncoder()

for i in tst.columns:
    if tst[i].dtypes =="object":
        le.fit(tst[i])
        tst[i]=le.transform(tst[i])

In [28]:
test_pred=classifier.predict(tst)

In [29]:
test_pred

array([0, 0, 0, ..., 0, 0, 0])

In [30]:
submit_xg =pd.DataFrame()

In [31]:
submit_xg["id"]=id_val
submit_xg["is_canceled"] =test_pred